<template>
  <div class="mt-16">
    <main>
      <div class="min-h-screen">
        <section id="projects">
          <div class="prose dark:prose-invert">
            <h1>Featured Projects</h1>
          </div>
          <ul>
            <li class="pb-12" v-for="p of allProjects" :key="p.id">
              <ProjectCard :project="p" />
            </li>
          </ul>
        </section>
      </div>
    </main>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  name: 'ProjectsPage',
  data() {
    return {}
  },
  async asyncData({ $content }) {
    const allProjects = await $content('projects').sortBy('sort', 'asc').fetch()

    return {
      allProjects,
    }
  },
  computed: {},
  head: {
    title: 'Projects - Marco Maier',
    meta: [
      {
        hid: 'description',
        name: 'description',
        content: 'Django, Vue, and more of my projects are listed here',
      },
    ],
  },
})
</script>

<style lang="sass" scoped>
@supports (-webkit-touch-callout: none)
.min-h-screen
    min-height: -webkit-fill-available
</style>
