<template>
  <main class="flex justify-center min-h-screen">
    <article class="prose dark:prose-invert">
      <nuxt-content :document="project" />
    </article>
  </main>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  name: 'ProjectPage',
  async asyncData({ $content, params }) {
    const project = await $content('project', params.slug).fetch()
    return {
      project,
    }
  },
  head() {
    // this is a rough workaround. needs fixing
    // normally you are able to use this in the head() method of the page and have access to asyncData props
    const s: any = this
    return {
      title: `${s.project.title ?? ''} - Marco Maier`,
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: `${
            s.project.description ??
            'a bit more background info of this project'
          }`,
        },
        {
          hid: 'keywords',
          name: 'keywords',
          content: `${s.project.stack ?? 'nuxtjs'}`,
        },
      ],
      link: [
        {
          rel: 'stylesheet',
          href: 'https://cdn.jsdelivr.net/npm/katex/dist/katex.min.css',
        },
      ],
    }
  },
})
</script>