<template>
  <div class="flex items-end">
    <div class="prose dark:prose-invert max-w-none">
      <h2>Contact</h2>
      <p>
        Have I aroused your interest? Do you want to work with me? Feel free to
        reach out to me:
        <span>
          <a href="mailto:mm.maiermarco@gmail.com">mm.maiermarco@gmail.com</a>
        </span>
      </p>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  name: 'ContactMeComponent',
})
</script>
