<template>
  <div class="block gap-32 md:flex md:justify-between">
    <div class="prose md:prose-xl dark:prose-invert">
      <nuxt-content :document="intro" />
      <router-link to="/projects">Projects</router-link>
    </div>
    <img
      :src="intro.image"
      class="hidden object-cover rounded-lg shadow-2xl w-60 h-96 md:block"
    />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  name: 'IntroComponent',
  props: {
    intro: {
      type: Object,
      required: true,
    },
  },
})
</script>
