<template>
  <div class="block xl:flex">
    <div class="xl:w-1/2">
      <div class="prose dark:prose-invert">
        <nuxt-content :document="project" />
        <div class="flex gap-1 pb-6">
          <span
            v-for="item in project.stack"
            :key="item"
            class="px-2 py-1 text-xs rounded bg-slate-200 dark:bg-slate-800"
          >{{ item }}</span>
        </div>
        <NuxtLink v-show="project.more" :to="`${$route.path}/${project.slug}`">Learn more</NuxtLink>
        <a v-show="!project.more" :href="project.url" target="_blank">Visit</a>
      </div>
    </div>
    <div class="flex items-center justify-end xl:w-1/2">
      <div class="mt-8 xl:max-w-lg">
        <a :href="project.url" target="_blank">
          <img
            class="object-cover object-center w-full h-auto rounded-md shadow-xl xl:w-auto xl:h-60"
            :src="project.image"
          />
        </a>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  name: 'ProjectCardComponent',
  props: {
    project: {
      type: Object,
      required: true,
    },
  },
})
</script>
