<template>
  <div>
    <div
      class="flex items-center justify-between pt-12 pb-4 tracking-wider md:pb-12"
    >
      <div class="flex items-center">
        <!-- <h3 class="text-2xl md:text-3xl">Marco</h3> -->
        <router-link to="/">
          <img
            ref="signature"
            :src="Theme === 'dark' ? '/SigDark.png' : '/SigLight.png'"
            class="w-20 md:w-28"
          />
        </router-link>
      </div>
      <div class="flex items-center">
        <div class="items-center hidden gap-5 md:flex">
          <div class="font-medium">
            <router-link to="/">Home</router-link>
          </div>
          <div class="font-medium">
            <router-link to="/projects">Projects</router-link>
          </div>
        </div>
        <div
          class="hidden w-1 h-8 mx-6 bg-gray-200 md:block dark:bg-gray-700"
        ></div>
        <div class="flex items-center gap-5">
          <button id="toggle-dark-mode" @click="toggleMode">
            <svg
              v-show="Theme === 'dark'"
              xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6 svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M9.663 17h4.673M12 3v1m6.364 1.636l-.707.707M21 12h-1M4 12H3m3.343-5.657l-.707-.707m2.828 9.9a5 5 0 117.072 0l-.548.547A3.374 3.374 0 0014 18.469V19a2 2 0 11-4 0v-.531c0-.895-.356-1.754-.988-2.386l-.548-.547z"
              />
            </svg>
            <svg
              v-show="Theme === 'light'"
              xmlns="http://www.w3.org/2000/svg"
              class="w-6 h-6 svg"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>

    <div class="flex items-center gap-5 md:hidden">
      <div class="font-medium">
        <router-link to="/">Home</router-link>
      </div>
      <div class="font-medium">
        <router-link to="/projects">Projects</router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { mapGetters } from 'vuex'

import Vue from 'vue'
export default Vue.extend({
  name: 'TopBarComponent',
  computed: {
    ...mapGetters({ theme: 'theme/getTheme' }),
    Theme() {
      return this.$store.state.theme.theme
    },
  },
  methods: {
    toggleMode() {
      this.$store.dispatch('theme/toggleTheme')
    },
  },
  mounted() {
    if (this.$refs.signature) {
      const signature = this.$refs.signature as HTMLImageElement
      signature.src = this.Theme === 'dark' ? '/SigDark.png' : '/SigLight.png'
    }
  },
})
</script>

<style lang="sass" scoped>
.svg
  @apply text-gray-400 transition-colors duration-150 fill-current hover:text-gray-500 dark:text-gray-400 dark:hover:text-gray-300

a.nuxt-link-exact-active
  @apply text-sky-700

.cls-1
  font-family: 'Freestyle Script'
  @apply dark:text-slate-200 text-slate-700
</style>
