<template>
  <div
    class="flex justify-center px-8 text-slate-700 bg-slate-50 dark:bg-slate-900 dark:text-slate-200"
  >
    <div class="container pt-12 lg:w-2/3">
      <TopBar />
      <Nuxt />
    </div>
  </div>
</template>

<script lang="ts">
import { mapGetters } from 'vuex'

import Vue from 'vue'
export default Vue.extend({
  name: 'DefaultLayout',
  computed: {
    ...mapGetters({ theme: 'theme/getTheme' }),
  },
  watch: {
    theme(newTheme) {
      if (newTheme === 'light') {
        document.documentElement.classList.remove('dark')
        console.log(document.documentElement)
      } else {
        document.documentElement.classList.add('dark')
      }
    },
  },
  beforeMount() {
    this.$store.dispatch('theme/initTheme')
  },
})
</script>
