<template>
  <main>
    <div class="flex flex-col min-h-screen">
      <section class="mt-16">
        <Intro :intro="intro" />
      </section>

      <section class="my-16">
        <Skills />
      </section>

      <footer class="flex flex-1 py-8">
        <Contact />
      </footer>
    </div>
  </main>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'IndexPage',
  async asyncData({ $content }) {
    const intro = await $content('intro').fetch()
    return {
      intro,
    }
  },
  head: {
    title: 'Home - Marco Maier',
  },
})
</script>
